body { 
    background-color: white;
} 

nav {
    background-color: #DBA39A;
    padding: 12px;


}
.back-to-top {
    color: black;
    font-size: 20px;
    padding-left: 1400px;
    text-align: right;
}
.NavPages a{
    
    text-decoration: none;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FEFCF3;
    padding-right: 30px;

   
}
#bottomLogo img{
    max-width: 100px;
    height: 100px;
}
footer{
    background-color: #FEFCF3;
    padding-right: 100px;
    align-items: center;
}
.logo img {
    max-width: 400px;
    height: 300px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

nav img{
    max-width: 20px;
    height: 12px;
}


.Nav-Icons img{
    padding-right: 10px;
    max-width: 20px;
    height: 20px;
}

.mainImages img{
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 5px;
    max-width: 600px;
    height: 300px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #DFD3C3;
    text-align: center;
    font-size: 80px;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F0DBDB;
}

.points{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.AboutUs img{
    display:block;
    margin-left: 40px;
    max-width: 500px;
    height: 400px;

}

.Gallery img{
    max-width: 700px;
    height: 600px;
    padding-right: 20px;
    padding-bottom: 18px;
}

.Skincare img{
    margin-right: 80px;
    padding-right: 50px;
    max-width: 800px;
    height: 600px;
}
